TELEGRAM_BOT_TOKEN=1234567890:replace_with_botfather_token
TELEGRAM_CHAT_ID=replace_with_your_chat_id
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_replace_with_project_token
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
